## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns = ['EIN','NAME'], inplace=True)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
# Determine the number of unique values in each column.
for i in application_df.columns:
    print(i, len(application_df[i].unique()))

APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [5]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = application_df['APPLICATION_TYPE'].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_counts[app_counts<200].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[lambda x : x >1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts<300].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_df)
application_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [11]:
# Split our preprocessed data into our features and target arrays
X = application_dummies.drop('IS_SUCCESSFUL', axis=1).values
y = application_dummies['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 78)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])

hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 5


nn_model_1 = tf.keras.models.Sequential()

# First hidden layer
nn_model_1.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, activation='relu', input_dim=number_input_features))

# Second hidden layer
nn_model_1.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))



# Output layer (output is 1 and sigmoid because it's binary classifier)
nn_model_1.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn_model_1.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                450

 dense_1 (Dense)             (None, 5)                 55

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 511
Trainable params: 511
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Compile the model
nn_model_1.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [15]:
filepath = 'charity_model_{epoch:02d}.hdf5'
checkpoint = tf.keras.callbacks.ModelCheckpoint(filepath=filepath,
                             monitor='accuracy',
                             save_weights_only=True,
                             save_freq=5)
callbacks = [checkpoint]

# Train the model
fit_output = nn_model_1.fit(X_train_scaled, y_train, epochs=20, callbacks=callbacks)

Epoch 1/20
804/804 [==============================] - 5s 4ms/step - loss: 0.5978 - accuracy: 0.7075
Epoch 2/20
804/804 [==============================] - 3s 4ms/step - loss: 0.5638 - accuracy: 0.7241
Epoch 3/20
804/804 [==============================] - 3s 4ms/step - loss: 0.5590 - accuracy: 0.7266
Epoch 4/20
804/804 [==============================] - 3s 4ms/step - loss: 0.5565 - accuracy: 0.7282
Epoch 5/20
804/804 [==============================] - 3s 4ms/step - loss: 0.5548 - accuracy: 0.7292
Epoch 6/20
804/804 [==============================] - 4s 4ms/step - loss: 0.5538 - accuracy: 0.7315
Epoch 7/20
804/804 [==============================] - 3s 4ms/step - loss: 0.5529 - accuracy: 0.7318
Epoch 8/20
804/804 [==============================] - 3s 4ms/step - loss: 0.5520 - accuracy: 0.7310
Epoch 9/20
804/804 [==============================] - 3s 4ms/step - loss: 0.5514 - accuracy: 0.7325
Epoch 10/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5509 - accuracy: 0.7323
Epoch 11/20
804/804 [==============================] - 3s 4ms/step - loss: 0.5506 - accuracy: 0.7315
Epoch 12/20
804/804 [==============================] - 3s 4ms/step - loss: 0.5503 - accuracy: 0.7320
Epoch 13/20
804/804 [==============================] - 3s 4ms/step - loss: 0.5496 - accuracy: 0.7326
Epoch 14/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5489 - accuracy: 0.7331
Epoch 15/20
804/804 [==============================] - 3s 4ms/step - loss: 0.5486 - accuracy: 0.7327
Epoch 16/20
804/804 [==============================] - 3s 4ms/step - loss: 0.5482 - accuracy: 0.7335
Epoch 17/20
804/804 [==============================] - 3s 4ms/step - loss: 0.5481 - accuracy: 0.7347
Epoch 18/20
804/804 [==============================] - 4s 4ms/step - loss: 0.5479 - accuracy: 0.7332
Epoch 19/20
804/804 [==============================] - 3s 4ms/step - loss: 0.5479 - accuracy: 0.7328
Epoch 20/20
804/804 [==============================] - 3s 4ms/step - loss: 0.5471 - accuracy: 0.7345

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model_1.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5550 - accuracy: 0.7261 - 507ms/epoch - 2ms/step
Loss: 0.5550042986869812, Accuracy: 0.726064145565033

# **Optimizing the Model**

In [17]:
# Set callback
filepath = 'charity_model_{epoch:02d}.hdf5'
checkpoint = tf.keras.callbacks.ModelCheckpoint(filepath=filepath,
                             monitor='accuracy',
                             save_weights_only=True,
                             save_freq=5)
callbacks = [checkpoint]

# Train the model
fit_output = nn_model_1.fit(X_train_scaled, y_train, epochs=20, callbacks=callbacks)

Epoch 1/20
804/804 [==============================] - 3s 4ms/step - loss: 0.5471 - accuracy: 0.7329
Epoch 2/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5470 - accuracy: 0.7346
Epoch 3/20
804/804 [==============================] - 5s 7ms/step - loss: 0.5468 - accuracy: 0.7344
Epoch 4/20
804/804 [==============================] - 3s 4ms/step - loss: 0.5465 - accuracy: 0.7339
Epoch 5/20
804/804 [==============================] - 3s 4ms/step - loss: 0.5464 - accuracy: 0.7339
Epoch 6/20
804/804 [==============================] - 3s 4ms/step - loss: 0.5462 - accuracy: 0.7348
Epoch 7/20
804/804 [==============================] - 4s 4ms/step - loss: 0.5460 - accuracy: 0.7351
Epoch 8/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5459 - accuracy: 0.7339
Epoch 9/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5456 - accuracy: 0.7355
Epoch 10/20
804/804 [==============================] - 3s 4ms/step - loss: 0.5454 - accuracy: 0.7348
Epoch 11/20
804/804 [==============================] - 3s 4ms/step - loss: 0.5455 - accuracy: 0.7350
Epoch 12/20
804/804 [==============================] - 3s 4ms/step - loss: 0.5452 - accuracy: 0.7348
Epoch 13/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5448 - accuracy: 0.7353
Epoch 14/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5451 - accuracy: 0.7357
Epoch 15/20
804/804 [==============================] - 3s 4ms/step - loss: 0.5446 - accuracy: 0.7356
Epoch 16/20
804/804 [==============================] - 3s 4ms/step - loss: 0.5446 - accuracy: 0.7358
Epoch 17/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5446 - accuracy: 0.7351
Epoch 18/20
804/804 [==============================] - 3s 4ms/step - loss: 0.5445 - accuracy: 0.7357
Epoch 19/20
804/804 [==============================] - 3s 4ms/step - loss: 0.5441 - accuracy: 0.7356
Epoch 20/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5445 - accuracy: 0.7352

In [23]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn_model_2 = tf.keras.models.Sequential()

# First hidden layer
nn_model_2.add(tf.keras.layers.Dense(units=20, activation="relu", input_dim=44))

# Second hidden layer
nn_model_2.add(tf.keras.layers.Dense(units=10, activation="relu"))

# Output layer
nn_model_2.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model_2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 20)                900

 dense_7 (Dense)             (None, 10)                210

 dense_8 (Dense)             (None, 1)                 11

=================================================================
Total params: 1,121
Trainable params: 1,121
Non-trainable params: 0
_________________________________________________________________

In [24]:
# Compile the model
nn_model_2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy", "AUC"],steps_per_execution=None)

In [25]:
# Train the model
# Set callback
filepath = 'charity_model_{epoch:02d}.hdf5'
checkpoint = tf.keras.callbacks.ModelCheckpoint(filepath=filepath,
                             monitor='accuracy',
                             save_weights_only=True,
                             save_freq=5)
callbacks = [checkpoint]

# Train the model
fit_output = nn_model_2.fit(X_train_scaled, y_train, epochs=40, callbacks=callbacks)

Epoch 1/40
804/804 [==============================] - 4s 4ms/step - loss: 0.5874 - accuracy: 0.7129 - auc: 0.7553
Epoch 2/40
804/804 [==============================] - 4s 4ms/step - loss: 0.5575 - accuracy: 0.7302 - auc: 0.7805
Epoch 3/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5542 - accuracy: 0.7304 - auc: 0.7824
Epoch 4/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5528 - accuracy: 0.7315 - auc: 0.7838
Epoch 5/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5520 - accuracy: 0.7318 - auc: 0.7847
Epoch 6/40
804/804 [==============================] - 4s 4ms/step - loss: 0.5505 - accuracy: 0.7319 - auc: 0.7861
Epoch 7/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5498 - accuracy: 0.7323 - auc: 0.7869
Epoch 8/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5490 - accuracy: 0.7331 - auc: 0.7872
Epoch 9/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5476 - accuracy: 0.7329 - auc: 0.7894
Epoch 10/40
804/804 [==============================] - 4s 5ms/step - loss: 0.5479 - accuracy: 0.7332 - auc: 0.7887
Epoch 11/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5475 - accuracy: 0.7327 - auc: 0.7886
Epoch 12/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5468 - accuracy: 0.7332 - auc: 0.7896
Epoch 13/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5465 - accuracy: 0.7341 - auc: 0.7903
Epoch 14/40
804/804 [==============================] - 4s 5ms/step - loss: 0.5461 - accuracy: 0.7334 - auc: 0.7904
Epoch 15/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5456 - accuracy: 0.7341 - auc: 0.7909
Epoch 16/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5453 - accuracy: 0.7337 - auc: 0.7908
Epoch 17/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5453 - accuracy: 0.7331 - auc: 0.7916
Epoch 18/40
804/804 [==============================] - 4s 5ms/step - loss: 0.5453 - accuracy: 0.7341 - auc: 0.7918
Epoch 19/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5447 - accuracy: 0.7346 - auc: 0.7916
Epoch 20/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5448 - accuracy: 0.7329 - auc: 0.7917
Epoch 21/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5443 - accuracy: 0.7341 - auc: 0.7922
Epoch 22/40
804/804 [==============================] - 4s 5ms/step - loss: 0.5438 - accuracy: 0.7350 - auc: 0.7927
Epoch 23/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5440 - accuracy: 0.7348 - auc: 0.7925
Epoch 24/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5436 - accuracy: 0.7351 - auc: 0.7926
Epoch 25/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5441 - accuracy: 0.7343 - auc: 0.7926
Epoch 26/40
804/804 [==============================] - 5s 6ms/step - loss: 0.5432 - accuracy: 0.7354 - auc: 0.7931
Epoch 27/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5434 - accuracy: 0.7351 - auc: 0.7926
Epoch 28/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5429 - accuracy: 0.7341 - auc: 0.7933
Epoch 29/40
804/804 [==============================] - 4s 5ms/step - loss: 0.5431 - accuracy: 0.7355 - auc: 0.7930
Epoch 30/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5431 - accuracy: 0.7352 - auc: 0.7931
Epoch 31/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5429 - accuracy: 0.7350 - auc: 0.7931
Epoch 32/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5426 - accuracy: 0.7365 - auc: 0.7936
Epoch 33/40
804/804 [==============================] - 4s 5ms/step - loss: 0.5425 - accuracy: 0.7353 - auc: 0.7939
Epoch 34/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5424 - accuracy: 0.7355 - auc: 0.7939
Epoch 35/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5421 - accuracy: 0.7353 - auc: 0.7939
Epoch 36/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5418 - accuracy: 0.7352 - auc: 0.7943
Epoch 37/40
804/804 [==============================] - 4s 5ms/step - loss: 0.5419 - accuracy: 0.7352 - auc: 0.7941
Epoch 38/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5421 - accuracy: 0.7355 - auc: 0.7939
Epoch 39/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5414 - accuracy: 0.7364 - auc: 0.7949
Epoch 40/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5421 - accuracy: 0.7362 - auc: 0.7942

In [26]:
# Evaluate the model using the test data
model_loss, model_accuracy, model_AUC = nn_model_2.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}, AUC: {model_AUC}")

268/268 - 1s - loss: 0.5505 - accuracy: 0.7275 - auc: 0.7864 - 607ms/epoch - 2ms/step
Loss: 0.5505354404449463, Accuracy: 0.7274635434150696, AUC: 0.7864075899124146

In [22]:
# Export our model to HDF5 file
nn_model_1.save('AlphabetSoupCharity_model_1.h5')